Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra/ArtifactStorage, infra/ContainerRegistry, infra/DnsForwarder, infra/Firewall, infra/FirewallPolicy, infra/KeyVault, infra/PrivateDns, infra/Purview, infra/SynapsePrivateLinkHub, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataHubDeployment.yml, code/GeneratePassword.ps1
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/Firewall, infra/FirewallPolicy, infra/VirtualNetworkPeering, infra/PrivateDns, infra/DnsForwarder, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml

add script for consistent file upload
  code/UploadBlob.ps1
Due: none

* update ado and gh workflows * move to variables * move to upload ps1 script
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

removed comment in ado workflow
  .ado/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

updated names for dns forwarder setup
  .ado/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

updated policy to allow connecting kv to adf
  infra/Policies/DataFactory/params.policyDefinition.Deny-DataFactory-LinkedServicesConnectionStringType.json
Due: none

* removed condition as it might cause some issues * testing can become difficult
  .ado/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

updated triggers for workflow
  .github/workflows/dataHubDeployment.yml
Due: none

updated ado trigger
  .ado/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

updated service connection name
  .ado/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

Validation of readme
  README.md
  SECURITY.md
  docs/images/ARMConnectionDevOps.png
  docs/images/AzureCredentialsGH.png
  docs/images/AzurePipelinesGH.png
  docs/images/CodeDevOps.png
  docs/images/ConfigurePipelineDevOps.png
  docs/images/ConnectionDevOps.png
  docs/images/CreatePipelineDevOps.png
  docs/images/CreateProjectDevOps.png
  docs/images/CreateRepoGH.png
  docs/images/DataHub.png
  docs/images/InstallButtonGH.png
  docs/images/SelectRepositoryDevOps.png
  docs/images/UseThisTemplateGH.png
Due: none

updated firewall policy for adb
  infra/FirewallPolicy/deploy.firewallPolicy.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

updated adf policy
  infra/Policies/DataFactory/params.policyDefinition.Deny-DataFactory-LinkedServicesConnectionStringType.json
Due: none

updated private dns zone name for adf portal
  docs/reference/deploy.dataHub.json
  infra/PrivateDns/params.privateDns001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

Updated doc
  README.md
Due: none

Added ordering
  README.md
Due: none

Added link to header
  README.md
Due: none

Updates on readme
  README.md
Due: none

Changes on readme
  README.md
Due: none

Added suggested changes
  README.md
Due: none

Heading changed
  README.md
Due: none

Headings updated
  README.md
Due: none

Updates
  README.md
Due: none

Links updated.
  README.md
Due: none

Changed link
  README.md
Due: none

added grey image for deploy to azure
  docs/media/deploytoazuregrey.png
Due: none

updated readme
  README.md
Due: none
