Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml

update key vault secrets
  infra/KeyVault/deploy.keyVault.json
Due: none

updated vmss deployment
  infra/SelfHostedIntegrationRuntime/deploy.vmss.json
  infra/SelfHostedIntegrationRuntime/params.vmss.json
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

updated storage account SecretDeployment
  infra/Storage/deploy.storage.json
Due: none

update upload process
  .github/workflows/selfHostedIntegrationRuntimeDeployment.yml
Due: none

updated azure/login version tag
  .github/workflows/privateDnsDeployment.yml
  .github/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .github/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .github/workflows/vnetDeployment.yml
Due: none

updated workflow login to AZure
  .github/workflows/dataHubDeployment.yml
  .github/workflows/logAnalyticsDeployment.yml
  .github/workflows/selfHostedIntegrationRuntimeDeployment.yml
Due: none

test force
  .github/workflows/selfHostedIntegrationRuntimeDeployment.yml
Due: none

moved vnetpeering
  infra/VirtualNetworkPeering/deploy.vnetPeering.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
Due: none

added event hub private dns zone
  infra/PrivateDns/params.privateDnsEventHub.json
  infra/VirtualNetwork/params.vnet.json
Due: .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

updated network deployment
  .ado/workflows/networkDeployment.yml
  .ado/workflows/vnetDeployment.yml
  .github/workflows/networkDeployment.yml
  .github/workflows/vnetDeployment.yml
Due: .ado/workflows/vnetDeployment.yml

updated deployment workflows
  .ado/workflows/dataHubDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .github/workflows/dataHubDeployment.yml
  .github/workflows/logAnalyticsDeployment.yml
  .github/workflows/networkDeployment.yml
  .github/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .github/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

update workflows for la and hub
  .github/workflows/dataHubDeployment.yml
  .github/workflows/logAnalyticsDeployment.yml
  infra/KeyVault/deploy.keyVault.json
Due: none

fixed bug in workflow
  .github/workflows/networkDeployment.yml
Due: none

updated triggers
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
Due: none

fixed bug
  .github/workflows/networkDeployment.yml
Due: none

updated network deployment params
  .github/workflows/networkDeployment.yml
  infra/PrivateDns/params.privateDnsBlob.json
  infra/PrivateDns/params.privateDnsContainerRegistry.json
  infra/PrivateDns/params.privateDnsCosmosSql.json
  infra/PrivateDns/params.privateDnsEventHub.json
  infra/PrivateDns/params.privateDnsFile.json
  infra/PrivateDns/params.privateDnsKeyVault.json
  infra/PrivateDns/params.privateDnsMlWorkspace.json
  infra/PrivateDns/params.privateDnsSqlServer.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
Due: .ado/workflows/privateDnsDeployment.yml

updated log analytics deployment
  .github/workflows/logAnalyticsDeployment.yml
  infra/LogAnalytics/params.logAnalytics.json
Due: .ado/workflows/dataHubDeployment.yml

updated la deployment
  .ado/workflows/logAnalyticsDeployment.yml
  infra/LogAnalytics/params.logAnalytics.json
Due: .ado/workflows/dataHubDeployment.yml

updated network deployment
  .github/workflows/networkDeployment.yml
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/vnetDeployment.yml

updated datahub deployment parameters
  .github/workflows/dataHubDeployment.yml
  infra/DataFactory/params.dataFactory001.json
  infra/KeyVault/deploy.keyVault.json
  infra/KeyVault/params.keyVault001.json
  infra/SelfHostedIntegrationRuntime/params.vmss.json
  infra/Storage/params.storage001.json
Due: .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
