Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: code/GeneratePassword.ps1, infra/AutomationAccount, infra/ContainerRegistry, infra/DataFactory, infra/IntegrationServiceEnvironment, infra/KeyVault, infra/LogAnalytics, infra/LogicApp, infra/PowerBi, infra/Purview, infra/SelfHostedIntegrationRuntime, infra/Storage, .ado/workflows/dataHubDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/Firewall, infra/FirewallPolicy, infra/VirtualNetworkPeering, infra/PrivateDns, infra/DnsForwarder, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml

removed storage
  infra/Storage/deploy.storage.json
  infra/Storage/params.storage001.json
Due: .ado/workflows/dataHubDeployment.yml

removed key vaults
  infra/KeyVault/params.keyVault002.json
  infra/KeyVault/params.keyVault003.json
Due: .ado/workflows/dataHubDeployment.yml

removed api connection
  infra/ApiConnection/deploy.apiConnection.json
  infra/ApiConnection/params.apiConnection001.json
  infra/ApiConnection/params.apiConnection002.json
Due: none

removed automation account
  infra/AutomationAccount/deploy.automationAccount.json
  infra/AutomationAccount/params.automationAccount001.json
Due: .ado/workflows/dataHubDeployment.yml

removed functions
  infra/Function/deploy.function.json
  infra/Function/params.function001.json
Due: none

removed logic app
  infra/LogicApp/deploy.logicApp.json
  infra/LogicApp/params.logicApp001.json
Due: .ado/workflows/dataHubDeployment.yml

removed ise
  infra/IntegrationServiceEnvironment/deploy.integrationServiceEnvironment.json
  infra/IntegrationServiceEnvironment/params.integrationServiceEnvironment001.json
Due: .ado/workflows/dataHubDeployment.yml

removed power bi
  infra/PowerBi/deploy.powerBi.json
  infra/PowerBi/params.powerBi001.json
  infra/PowerBiGateway/deploy.powerBiGateway.json
  infra/PowerBiGateway/installPowerBiGateway.ps1
  infra/PowerBiGateway/params.powerBiGateway.json
Due: .ado/workflows/dataHubDeployment.yml

added storage for dns forwarder
  infra/Storage/deploy.storage.json
  infra/Storage/params.storage001.json
Due: .ado/workflows/dataHubDeployment.yml

updated synapse params file name
  infra/SynapsePrivateLinkHub/params.synapsePrivateLinkHub001.json
Due: none

removed one vnet peering
  infra/VirtualNetworkPeering/params.vnetPeering002.json
Due: .ado/workflows/networkDeployment.yml

removed shir sharing
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .github/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
Due: .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

updated workflows
  .ado/workflows/dataHubDeployment.yml
  .ado/workflows/networkDeployment.yml
  .github/workflows/dataHubDeployment.yml
  .github/workflows/networkDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

updated reference templates
  docs/reference/deploy.dataHub.json
  docs/reference/deploy.network.json
  docs/reference/deploy.services.json
Due: none

updated vnet template
  infra/VirtualNetwork/deploy.vnet.json
  infra/VirtualNetwork/params.vnet.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

updated artifact storage location
  infra/ArtifactStorage/deploy.storage.json
  infra/ArtifactStorage/params.storage001.json
Due: none

updated dns forwarder params
  infra/DnsForwarder/params.dnsForwarder001.json
Due: .ado/workflows/networkDeployment.yml

updated vnet params filename
  infra/VirtualNetwork/params.vnet001.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

updated vnet peering templates
  infra/VirtualNetworkPeering/deploy.vnetPeering.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
Due: .ado/workflows/networkDeployment.yml

updated workflows
  .ado/workflows/networkDeployment.yml
  .github/workflows/dataHubDeployment.yml
  .github/workflows/networkDeployment.yml
  .github/workflows/updateParameters.yml
Due: .ado/workflows/networkDeployment.yml
