Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra/KeyVault, infra/PrivateEndpoint, infra/SelfHostedIntegrationRuntime, infra/DataFactory, infra/Storage, .ado/workflows/dataHubDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, infra/PrivateDns, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml

updated file upload wf
  .ado/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

updated all deplyoment workflows
  .ado/workflows/dataHubDeployment.yml
  .ado/workflows/networkDeployment.yml
  .github/workflows/dataHubDeployment.yml
  .github/workflows/networkDeployment.yml
  infra/DnsForwarder/forwarderSetup.sh
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

updated function definition
  infra/Function/deploy.function.json
Due: none

added policies
  infra/Policies/DataPolicies/params.policyDefinition.Append-Cosmos-DisableKeyBasedMetadataWriteAccess.json
  infra/Policies/DataPolicyAssignments/params.diagnosticSettings.json
  infra/Policies/DataPolicySets/parameters.policySetDefinition.Deploy-Cosmos-Security.json
  infra/Policies/DataPolicySets/parameters.policySetDefinition.Deploy-Sql-Security.json
  infra/Policies/DataPolicySets/params.diagnosticSettings.json
  infra/Policies/DiagnosticSettingsPolicies/params.dataFactory.json
  infra/Policies/DiagnosticSettingsPolicies/params.databricks.json
  infra/Policies/DiagnosticSettingsPolicies/params.eventHub.json
  infra/Policies/DiagnosticSettingsPolicies/params.function.json
  infra/Policies/DiagnosticSettingsPolicies/params.keyVault.json
  infra/Policies/DiagnosticSettingsPolicies/params.sqlDataWarehouse.json
  infra/Policies/DiagnosticSettingsPolicies/params.sqlDatabase.json
  infra/Policies/DiagnosticSettingsPolicies/params.storage.json
  infra/Policies/DiagnosticSettingsPolicies/params.vnet.json
  infra/Policies/deploy.policyAssignment.json
  infra/Policies/deploy.policyDefinition.json
  infra/Policies/deploy.policySetDefinition.json
Due: none

added power bi pe and steps in pipelines
  .github/workflows/dataHubDeployment.yml
  .github/workflows/networkDeployment.yml
  code/GeneratePassword.ps1
  infra/PowerBi/deploy.powerBi.json
  infra/PowerBi/params.powerBi001.json
  infra/PrivateDns/params.privateDnsPowerBi001.json
  infra/PrivateDns/params.privateDnsPowerBi002.json
  infra/PrivateDns/params.privateDnsPowerBi003.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

added script for devops agent installation
  infra/SelfHostedAgentDevOps/installDevOpsAgent.ps1
Due: none

added powerbi gateway template
  infra/PowerBiGateway/deploy.powerBiGateway.json
  infra/PowerBiGateway/installPowerBiGateway.ps1
  infra/PowerBiGateway/params.powerBiGateway.json
Due: none

added devOps self hosted agent
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
  code/GeneratePassword.ps1
  infra/SelfHostedAgentDevOps/deploy.devOpsAgent.json
  infra/SelfHostedAgentDevOps/installDevOpsAgent.ps1
Due: .ado/workflows/dataHubDeployment.yml

added devOps self hosted agent
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
  code/GeneratePassword.ps1
  infra/SelfHostedAgentDevOps/deploy.devOpsAgent.json
  infra/SelfHostedAgentDevOps/installDevOpsAgent.ps1
  infra/SelfHostedAgentDevOps/params.devOpsAgent001.json
Due: .ado/workflows/dataHubDeployment.yml

added LA secret deployment and AKV
  .ado/workflows/logAnalyticsDeployment.yml
  .github/workflows/logAnalyticsDeployment.yml
  infra/KeyVault/params.keyVault002.json
  infra/LogAnalytics/deploy.logAnalytics.json
  infra/LogAnalytics/params.logAnalytics.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml

updated shir deployment
  infra/DataFactory/deploy.dataFactory.json
  infra/DataFactory/params.dataFactory001.json
  infra/SelfHostedIntegrationRuntime/deploy.shir.json
  infra/SelfHostedIntegrationRuntime/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntime/params.shir001.json
  infra/Storage/deploy.storage.json
  infra/Storage/params.storage001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

updated data factory private link setup
  infra/DataFactory/deploy.dataFactory.json
  infra/DataFactory/params.dataFactory001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

updated private endpoints and cleanup
  infra/DataFactory/deploy.dataFactory.json
  infra/Function/deploy.function.json
  infra/Function/params.function001.json
  infra/KeyVault/deploy.keyVault.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/LogAnalytics/deploy.logAnalytics.json
  infra/LogicApp/deploy.logicApp.json
  infra/PowerBi/deploy.powerBi.json
  infra/PowerBi/params.powerBi001.json
  infra/PowerBiGateway/deploy.powerBiGateway.json
  infra/PrivateDns/deploy.privateDns.json
  infra/PrivateEndpoint/deploy.privateEndpoint.json
  infra/SelfHostedIntegrationRuntime/deploy.shir.json
  infra/ShareSelfHostedIntegrationRuntime/deploy.shareSelfHostedIntegrationRuntime.json
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

removed private endpoint
  infra/PrivateEndpoint/deploy.privateEndpoint.json
Due: .ado/workflows/dataHubDeployment.yml

added gh agent
  infra/SelfHostedAgentGithub/deploy.ghAgent.json
  infra/SelfHostedAgentGithub/installGitHubAgent.sh
Due: none

added dependency
  infra/DataFactory/deploy.dataFactory.json
  infra/Function/deploy.function.json
  infra/KeyVault/deploy.keyVault.json
  infra/PowerBi/deploy.powerBi.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

added container registry
  infra/ContainerRegistry/deploy.containerRegistry.json
  infra/ContainerRegistry/params.containerRegistry001.json
Due: none

updated LA workflow with new actions
  .github/workflows/dataHubDeployment.yml
  .github/workflows/logAnalyticsDeployment.yml
  infra/LogAnalytics/params.logAnalytics001.json
Due: .ado/workflows/logAnalyticsDeployment.yml

updated workflow with new env variable names
  .github/workflows/logAnalyticsDeployment.yml
Due: none

added subscription ID
  .github/workflows/logAnalyticsDeployment.yml
Due: none

test updated path
  .github/workflows/logAnalyticsDeployment.yml
Due: none

update path
  .github/workflows/logAnalyticsDeployment.yml
Due: none

updated path
  .github/workflows/logAnalyticsDeployment.yml
Due: none

test different literal
  .github/workflows/logAnalyticsDeployment.yml
Due: none

updated all paths
  .github/workflows/logAnalyticsDeployment.yml
Due: none

updated uris
  infra/ContainerRegistry/params.containerRegistry001.json
  infra/DataFactory/params.dataFactory001.json
  infra/Function/params.function001.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/PowerBi/params.powerBi001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

updated network setup
  .github/workflows/networkDeployment.yml
  infra/DnsForwarder/deploy.dnsForwarder.json
  infra/DnsForwarder/params.dnsForwarder001.json
Due: none
