Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

.ado/workflows/dataHubDeployment.yml:
  name: Data Hub Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/logAnalyticsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/privateDnsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/selfHostedIntegrationRuntimeDeployment.yml:
  name: Self Hosted Integration Runtime Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/vnetDeployment.yml:
  name: Virtual Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

updated purview triggers to pipelines
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

update private link name
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

updated rg names
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

updated service id
  infra/LogAnalytics/params.logAnalytics001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml

updated policy conditions and fixed error
  infra/Policies/DataPolicies/params.policyDefinition.Append-Cosmos-DisableKeyBasedMetadataWriteAccess.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-DataFactory-publicNetworkAccess.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-Databricks-PublicIp.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-MachineLearning-HbiWorkspace.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-MachineLearning-PublicAccessWhenBehindVnet.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-MachineLearningComputeCluster-RemoteLoginPortPublicAccess.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-Synapse-ManagedVirtualNetwork.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-Synapse-ManagedVirtualNetworkSettings.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-SynapseSpark-AutoPause.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-SynapseSpark-AutoScale.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-SynapseSpark-ComputeIsolation.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-SynapseSpark-SessionLevelPackages.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-DataFactory-ConnectionStringType.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Databricks-Sku.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-MachineLearningCompute-VmSize.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-PrivateLinkServicesForPowerBI.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-SynapseSql-Sku.json
Due: none

added container instance policy
  infra/Policies/DataPolicies/params.policyDefinition.Deny-ContainerInstance-PublicIpAddress.json
Due: none

updated step id in yaml
  .github/workflows/dataHubDeployment.yml
Due: none

updated references
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime002.json
Due: .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

updated share shir params
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime002.json
Due: .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

updated synapse firewall policy
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Synapse-Firewall.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-Synapse-Firewall.json
Due: none

added policy for sharing shir
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-SelfHostedIntegrationRuntime-Sharing.json
Due: none

updated names and parameters of policies
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-SynapseSql-AuditingSettings.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-SynapseSql-MetadataSynch.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-SynapseSql-SecurityAlertPolicies.json
  infra/Policies/DiagnosticSettingsPolicies/params.dataFactory.json
  infra/Policies/DiagnosticSettingsPolicies/params.databricks.json
  infra/Policies/DiagnosticSettingsPolicies/params.eventHub.json
  infra/Policies/DiagnosticSettingsPolicies/params.function.json
  infra/Policies/DiagnosticSettingsPolicies/params.keyVault.json
  infra/Policies/DiagnosticSettingsPolicies/params.purview.json
  infra/Policies/DiagnosticSettingsPolicies/params.sqlDataWarehouse.json
  infra/Policies/DiagnosticSettingsPolicies/params.sqlDatabase.json
  infra/Policies/DiagnosticSettingsPolicies/params.storage.json
  infra/Policies/DiagnosticSettingsPolicies/params.vnet.json
Due: none

added and updated data factory policies
  infra/Policies/DataPolicies/params.policyDefinition.Append-DataFactory-Identity.json
Due: none

added storage policies
  infra/Policies/DataPolicies/params.policyDefinition.Append-Storage-Encryption.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-Storage-InfrastructureEncryption.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-Storage-Kind.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Storage-ContainerDeleteRetentionPolicy.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Storage-CorsRules.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Storage-NetworkAclsIpRules.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Storage-NetworkAclsVirtualNetworkRules.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Storage-RoutingPreference.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Storage-Sku.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-Storage-BlobServices.json
  infra/Policies/DataPolicies/params.policyDefinition.Modify-Storage-AllowBlobPublicAccess.json
  infra/Policies/DataPolicies/params.policyDefinition.Modify-Storage-MinimumTlsVersion.json
  infra/Policies/DataPolicies/params.policyDefinition.Modify-Storage-NetworkAclsBypass.json
  infra/Policies/DataPolicies/params.policyDefinition.Modify-Storage-NetworkAclsDefaultAction.json
  infra/Policies/DataPolicies/params.policyDefinition.Modify-Storage-SupportsHttpsTrafficOnly.json
Due: none

added cognitive services diag log policy
  infra/Policies/DiagnosticSettingsPolicies/params.cognitiveServices.json
Due: none

added cognitive service policies
  infra/Policies/DataPolicies/params.policyDefinition.Append-CognitiveServices-Encryption.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-CognitiveServices-Identity.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-CognitiveServices-NetworkAclsDefaultAction.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-CognitiveServices-NetworkAclsIpRules.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-CognitiveServices-NetworkAclsVirtualNetworkRules.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-CognitiveServices-PublicNetworkAccess.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-CognitiveServices-Sku.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-CognitiveServices-UserOwnedStorage.json
Due: none

added keyvault policies
  infra/Policies/DataPolicies/params.policyDefinition.Deny-KeyVault-NetworkAclsBypass.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-KeyVault-NetworkAclsDefaultAction.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-KeyVault-NetworkAclsIpRules.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-KeyVault-NetworkAclsVirtualNetworkRules.json
Due: none

added private dns zone and LA workspace policy
  infra/Policies/DataPolicies/params.policyDefinition.Deny-LogAnalytics.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-PrivateDnsZones.json
Due: none

updated private dns: added cognitive service
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
  docs/reference/deploy.network.json
  infra/PrivateDns/params.privateDnsCognitiveService.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

update datafactory policy
  infra/Policies/DataPolicies/params.policyDefinition.Append-DataFactory-Identity.json
Due: none

added private dns for azure search
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
  docs/reference/deploy.network.json
  infra/PrivateDns/params.privateDnsSearch.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

added policies for Azure Search
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Search-NetworkRuleSetIpRules.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Search-PublicNetworkAccess.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Search-Sku.json
Due: none

added diag log policy for search
  infra/Policies/DiagnosticSettingsPolicies/params.search.json
Due: none

improved existing diag log policies
  infra/Policies/DiagnosticSettingsPolicies/params.dataFactory.json
  infra/Policies/DiagnosticSettingsPolicies/params.databricks.json
  infra/Policies/DiagnosticSettingsPolicies/params.eventHub.json
  infra/Policies/DiagnosticSettingsPolicies/params.function.json
  infra/Policies/DiagnosticSettingsPolicies/params.keyVault.json
  infra/Policies/DiagnosticSettingsPolicies/params.purview.json
  infra/Policies/DiagnosticSettingsPolicies/params.sqlDataWarehouse.json
  infra/Policies/DiagnosticSettingsPolicies/params.sqlDatabase.json
  infra/Policies/DiagnosticSettingsPolicies/params.storage.json
  infra/Policies/DiagnosticSettingsPolicies/params.vnet.json
Due: none

added diag logs policy for nsg
  infra/Policies/DiagnosticSettingsPolicies/params.nsg.json
Due: none

updated nsg and vnet policies
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-Nsg-FlowLogs.json
  infra/Policies/DiagnosticSettingsPolicies/params.nsg.json
  infra/Policies/DiagnosticSettingsPolicies/params.vnet.json
Due: none

added private dns zone and private endpoint policy
  infra/Policies/DataPolicies/params.policyDefinition.Deny-PrivateEndpoint-ManualPrivateLinkServiceConnections.json
Due: none

added comment with additional rule
  infra/Policies/DataPolicies/params.policyDefinition.Deny-PrivateEndpoint-ManualPrivateLinkServiceConnections.json
Due: none

updated some of the policies for ADF and Synapse
  infra/Policies/DataPolicies/params.policyDefinition.Append-Synapse-ManagedVirtualNetworkSettings.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-DataFactory-LinkedServicesConnectVia.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-DataFactory-LinkedServicesConnectionStringType.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-DataFactory-ManagedPrivateEndpoints.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-DataFactoryIntegration-vNetProperties.json
Due: none

added keyvault policies
  infra/Policies/DataPolicies/params.policyDefinition.Deny-KeyVault-RbacAuthorization.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-KeyVault-SoftDeleteRetentionInDays.json
Due: none

added custom sql policies
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Sql-PublicNetworkAccess.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-Sql-AuditingSettings.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-Sql-SecurityAlertPolicies.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-Sql-TransparentDataEncryption.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-Sql-VulnerabilityAssessment.json
Due: none

added and updated policy set definitions
  infra/Policies/DataPolicySets/parameters.policySetDefinition.Cosmos.json
  infra/Policies/DataPolicySets/parameters.policySetDefinition.KeyVault.json
  infra/Policies/DataPolicySets/parameters.policySetDefinition.Sql.json
Due: none

updated vnet setup
  infra/VirtualNetwork/deploy.vnet.json
  infra/VirtualNetwork/params.vnet.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

updated priority of nsg rule
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

updated vnet
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

updated key vault parameter
  infra/KeyVault/deploy.keyVault.json
Due: .ado/workflows/dataHubDeployment.yml

added synapse private dns 003
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
  infra/PrivateDns/params.privateDnsSynapse003.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

added synapse private link hub
  infra/SynapsePrivateLinkHub/deploy.synapsePrivateLinkHub.json
  infra/SynapsePrivateLinkHub/params.synapsePrivateLinkHub.json
Due: none

updated deploy to azure reference templates
  docs/reference/deploy.network.json
  docs/reference/deploy.services.json
Due: none

updated deployment pipelines
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: code/GeneratePassword.ps1, infra/KeyVault, infra/LogAnalytics, infra/ContainerRegistry, infra/SelfHostedIntegrationRuntime, infra/DataFactory, infra/Storage, infra/PowerBi, .ado/workflows/dataHubDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, infra/PrivateDns, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml
