Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

.ado/workflows/dataHubDeployment.yml:
  name: Data Hub Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/logAnalyticsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/privateDnsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/selfHostedIntegrationRuntimeDeployment.yml:
  name: Self Hosted Integration Runtime Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Share Self Hosted Integration Runtime
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/vnetDeployment.yml:
  name: Virtual Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

updated azure firewall
  infra/FirewallPolicy/deploy.firewallPolicy.json
Due: none

added private dns zone
  docs/reference/deploy.network.json
  infra/PrivateDns/params.privateDns001.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

removed logic app
  infra/LogicApp/deploy.logicApp.json
Due: none

removed azure automation dns from network setup
  docs/reference/deploy.network.json
  infra/PrivateDns/params.privateDns001.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

added integration service environment
  infra/IntegrationServiceEnvironment/deploy.integrationServiceEnvironment.json
  infra/IntegrationServiceEnvironment/params.integrationServiceEnvironment001.json
Due: none

added logic app
  infra/LogicApp/deploy.logicApp.json
  infra/LogicApp/params.logicApp001.json
Due: none

updated automation workflows
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

updated postgres sql
  infra/Policies/PostgreSql/params.policyDefinition.Deny-PostgreSql-InfrastructureEncryption.json
Due: none

updated policy effect
  infra/Policies/PostgreSql/params.policyDefinition.Deny-PostgreSql-InfrastructureEncryption.json
Due: none

added identity to logic app
  infra/LogicApp/deploy.logicApp.json
Due: none

updated uris
  README.md
  docs/reference/deploy.dataHub.json
  docs/reference/deploy.network.json
  docs/reference/deploy.services.json
Due: none

updated template
  README.md
Due: none

update token
  README.md
Due: none

update deploy to azure link
  README.md
Due: none

added private dns zone for azure automation
  docs/reference/deploy.network.json
  infra/PrivateDns/params.privateDns001.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

Added AAD setup script for new domain or product
  code/SetupAad.ps1
Due: none

updated script for ADO
  code/GeneratePipelineVariables.ps1
Due: none

added api connection template
  infra/ApiConnection/deploy.apiConnection.json
  infra/ApiConnection/params.apiConnection001.json
  infra/ApiConnection/params.apiConnection002.json
Due: none

added automation account templates
  infra/AutomationAccount/deploy.automationAccount.json
  infra/AutomationAccount/params.automationAccount001.json
Due: none

added automation account and updated workflow
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
  infra/AutomationAccount/deploy.automationAccount.json
Due: .ado/workflows/dataHubDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: code/GeneratePassword.ps1, infra/KeyVault, infra/LogAnalytics, infra/ContainerRegistry, infra/SelfHostedIntegrationRuntime, infra/DataFactory, infra/Storage, infra/PowerBi, .ado/workflows/dataHubDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, infra/PrivateDns, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml
