Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

.ado/workflows/dataHubDeployment.yml:
  name: Data Hub Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/logAnalyticsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/privateDnsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/selfHostedIntegrationRuntimeDeployment.yml:
  name: Self Hosted Integration Runtime Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Share Self Hosted Integration Runtime
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/vnetDeployment.yml:
  name: Virtual Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

updated json ref
  .github/workflows/testWorkflow.yaml
Due: none

remove tagging for now
  .github/workflows/dataHubDeployment.yml
  .github/workflows/testWorkflow.yaml
Due: none

updated paths to template
  .ado/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

added tagging to workflow
  .ado/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

Tagging (#70)
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
  configs/config.json
  docs/reference/deploy.dataHub.json
  docs/reference/portal.dataHub.json
  infra/ArtifactStorage/deploy.storage.json
  infra/ArtifactStorage/params.storage001.json
  infra/ContainerRegistry/deploy.containerRegistry.json
  infra/ContainerRegistry/params.containerRegistry001.json
  infra/DnsForwarder/deploy.dnsForwarder.json
  infra/DnsForwarder/params.dnsForwarder001.json
  infra/Firewall/deploy.firewall.json
  infra/Firewall/params.firewall001.json
  infra/FirewallPolicy/deploy.firewallPolicy.json
  infra/KeyVault/deploy.keyVault.json
  infra/KeyVault/params.keyVault001.json
  infra/PrivateDns/deploy.privateDns.json
  infra/PrivateDns/params.privateDns001.json
  infra/Purview/deploy.purview.json
  infra/Purview/params.purview001.json
  infra/ResourceGroups/deploy.resourceGroups.json
  infra/ResourceGroups/params.resourceGroups001.json
  infra/SynapsePrivateLinkHub/deploy.synapsePrivateLinkHub.json
  infra/SynapsePrivateLinkHub/params.synapsePrivateLinkHub001.json
  infra/VirtualNetwork/deploy.vnet.json
  infra/VirtualNetwork/params.vnet001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

Updated Parameters
  infra/ArtifactStorage/params.storage001.json
  infra/ContainerRegistry/params.containerRegistry001.json
  infra/DnsForwarder/params.dnsForwarder001.json
  infra/Firewall/params.firewall001.json
  infra/FirewallPolicy/params.firewallPolicy001.json
  infra/KeyVault/params.keyVault001.json
  infra/PrivateDns/params.privateDns001.json
  infra/Purview/params.purview001.json
  infra/ResourceGroups/params.resourceGroups001.json
  infra/SynapsePrivateLinkHub/params.synapsePrivateLinkHub001.json
  infra/VirtualNetwork/params.vnet001.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

* added comments * added availability zones to firewall and Pip
  infra/DnsForwarder/deploy.dnsForwarder.json
  infra/Firewall/deploy.firewall.json
  infra/FirewallPolicy/deploy.firewallPolicy.json
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

update zone deployment
  .github/workflows/updateParameters.yml
  infra/Firewall/deploy.firewall.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

added zones to pip prefix
  infra/Firewall/deploy.firewall.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

remove zones
  infra/Firewall/deploy.firewall.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

Linting (#67)
  .ado/workflows/dataHubDeployment.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/linters/.arm-ttk.psd1
  .github/linters/.dockerfilelintrc
  .github/linters/.markdown-lint.yml
  .github/linters/.powershell-psscriptanalyzer.psd1
  .github/workflows/dataHubDeployment.yml
  .github/workflows/lint.yml
  .github/workflows/updateParameters.yml
  code/GeneratePassword.ps1
  code/UploadBlob.ps1
  configs/UpdateParameters.ps1
  docs/reference/deploy.dataHub.json
  infra/ArtifactStorage/deploy.storage.json
  infra/ContainerRegistry/deploy.containerRegistry.json
  infra/DnsForwarder/deploy.dnsForwarder.json
  infra/DnsForwarder/forwarderSetup.sh
  infra/Firewall/deploy.firewall.json
  infra/FirewallPolicy/deploy.firewallPolicy.json
  infra/KeyVault/deploy.keyVault.json
  infra/PrivateDns/deploy.privateDns.json
  infra/Purview/deploy.purview.json
  infra/SynapsePrivateLinkHub/deploy.synapsePrivateLinkHub.json
  infra/VirtualNetwork/deploy.vnet.json
  infra/VirtualNetworkPeering/deploy.vnetPeering.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

linting
  .github/workflows/dataHubDeployment.yml
Due: none

updated reference templates
  docs/reference/deploy.dataHub.json
  infra/ResourceGroups/deploy.resourceGroups.json
Due: none

added bicep templates
  infra/bicep/main.bicep
  infra/bicep/modules/consumption.bicep
  infra/bicep/modules/container.bicep
  infra/bicep/modules/dnsForwarder.bicep
  infra/bicep/modules/firewallPolicyRules.bicep
  infra/bicep/modules/globalDns.bicep
  infra/bicep/modules/governance.bicep
  infra/bicep/modules/network.bicep
Due: none

fix bugs in bicep templates
  infra/bicep/main.bicep
  infra/bicep/main.json
  infra/bicep/modules/consumption.bicep
  infra/bicep/modules/firewallPolicyRules.bicep
  infra/bicep/modules/governance.bicep
  infra/bicep/modules/network.bicep
  infra/bicep/params.dev.json
Due: none

updated some descriptions and names
  infra/Policies/MachineLearning/params.policyDefinition.Deny-MachineLearningAks.json
  infra/Policies/MachineLearning/params.policyDefinition.Deny-MachineLearningCompute-SubnetId.json
Due: none

improved workflows to leverage new bicep ARM
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

moved bicep files
  infra/main.bicep
  infra/main.json
  infra/modules/consumption.bicep
  infra/modules/container.bicep
  infra/modules/dnsForwarder.bicep
  infra/modules/firewallPolicyRules.bicep
  infra/modules/globalDns.bicep
  infra/modules/governance.bicep
  infra/modules/network.bicep
  infra/params.dev.json
  infra/params.prod.json
  infra/params.test.json
Due: none

* removed files * moved files * removed unnecessary workflows
  .github/workflows/updateParameters.yml
  code/forwarderSetup.sh
  configs/UpdateParameters.ps1
  configs/config.json
  docs/reference/deploy.dataHub.json
  infra/ArtifactStorage/deploy.storage.json
  infra/ArtifactStorage/params.storage001.json
  infra/ContainerRegistry/deploy.containerRegistry.json
  infra/ContainerRegistry/params.containerRegistry001.json
  infra/DnsForwarder/deploy.dnsForwarder.json
  infra/DnsForwarder/params.dnsForwarder001.json
  infra/Firewall/deploy.firewall.json
  infra/Firewall/params.firewall001.json
  infra/FirewallPolicy/deploy.firewallPolicy.json
  infra/FirewallPolicy/params.firewallPolicy001.json
  infra/KeyVault/deploy.keyVault.json
  infra/KeyVault/params.keyVault001.json
  infra/PrivateDns/deploy.privateDns.json
  infra/PrivateDns/params.privateDns001.json
  infra/Purview/deploy.purview.json
  infra/Purview/params.purview001.json
  infra/ResourceGroups/deploy.resourceGroups.json
  infra/ResourceGroups/params.resourceGroups001.json
  infra/SynapsePrivateLinkHub/deploy.synapsePrivateLinkHub.json
  infra/SynapsePrivateLinkHub/params.synapsePrivateLinkHub001.json
  infra/VirtualNetwork/deploy.vnet.json
  infra/VirtualNetwork/params.vnet001.json
  infra/VirtualNetworkPeering/deploy.vnetPeering.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

updated parameters of main
  infra/main.bicep
  infra/main.json
Due: none

updated order of params
  infra/main.bicep
Due: none

fixed bugs in bicep
  infra/main.json
  infra/modules/firewallPolicyRules.bicep
  infra/modules/network.bicep
Due: none

fixed networking issue
  infra/main.json
  infra/modules/network.bicep
Due: none

added and updated bicep templates
  infra/main.bicep
  infra/main.json
  infra/modules/consumption.bicep
  infra/modules/container.bicep
  infra/modules/dnsForwarder.bicep
  infra/modules/governance.bicep
  infra/modules/network.bicep
  infra/modules/services/artifactstorage.bicep
  infra/modules/services/containerregistry.bicep
  infra/modules/services/dnsforwarder.bicep
  infra/modules/services/firewallPolicyRules.bicep
  infra/modules/services/keyvault.bicep
  infra/modules/services/privatednszones.bicep
  infra/modules/services/purview.bicep
  infra/modules/services/synapseprivatelinkhub.bicep
Due: none

* improved bicep templates * removed warnings
  infra/main.json
  infra/modules/governance.bicep
  infra/modules/network.bicep
  infra/modules/services/privatednszones.bicep
Due: none

* improved role assignment * fixed bugs in bicep
  infra/main.bicep
  infra/main.json
  infra/modules/auxiliary/purviewRoleAssignment.bicep
  infra/modules/governance.bicep
  infra/modules/services/purview.bicep
Due: none

updated params
  infra/main.bicep
  infra/main.json
Due: none

updated dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/azcli-debian.sh
  .devcontainer/library-scripts/common-debian.sh
  .devcontainer/library-scripts/node-debian.sh
Due: none

linting
  infra/main.bicep
  infra/main.json
Due: none

quick fix
  code/GeneratePassword.ps1
Due: .ado/workflows/dataHubDeployment.yml

Reference Template Upgrade (#80)
  .github/workflows/dataHubDeployment.yml
  docs/reference/deploy.dataHub.json
  infra/ResourceGroups/deploy.resourceGroups.json
Due: none

fix pw gen script
  code/GeneratePassword.ps1
Due: .ado/workflows/dataHubDeployment.yml

fixed linting
  .github/linters/.arm-ttk.psd1
Due: none

updated workflow name files
  .ado/workflows/dataManagementZoneDeployment.yml
  .github/workflows/dataManagementZoneDeployment.yml
Due: none

linting
  code/GeneratePassword.ps1
Due: .ado/workflows/dataHubDeployment.yml

linting
  .github/linters/.powershell-psscriptanalyzer.psd1
Due: none

updated workflows
  .ado/workflows/dataManagementZoneDeployment.yml
  .github/workflows/dataManagementZoneDeployment.yml
Due: none

updated workflow
  .github/workflows/dataManagementZoneDeployment.yml
Due: none

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra/ArtifactStorage, infra/ContainerRegistry, infra/DnsForwarder, infra/Firewall, infra/FirewallPolicy, infra/KeyVault, infra/PrivateDns, infra/Purview, infra/SynapsePrivateLinkHub, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataHubDeployment.yml, code/GeneratePassword.ps1
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/Firewall, infra/FirewallPolicy, infra/VirtualNetworkPeering, infra/PrivateDns, infra/DnsForwarder, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml
