Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

.ado/workflows/dataHubDeployment.yml:
  name: Data Hub Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/logAnalyticsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/privateDnsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/selfHostedIntegrationRuntimeDeployment.yml:
  name: Self Hosted Integration Runtime Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Share Self Hosted Integration Runtime
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/vnetDeployment.yml:
  name: Virtual Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

removed package dependencies
  infra/AutomationAccount/deploy.automationAccount.json
Due: none

added pwsh automation runbooks
  code/runbooks/New-DataLandingZoneAadSetup.ps1
  code/runbooks/New-DataLandingZoneSubnet.ps1
Due: none

updated workflow triggers
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

added module update runbook
  code/runbooks/Update-AutomationAzureModulesForAccount.ps1
Due: none

added databricks private endpoint
  docs/reference/deploy.network.json
  infra/PrivateDns/params.privateDns001.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

updated firewall policy with ADB rules
  infra/FirewallPolicy/deploy.firewallPolicy.json
Due: none

updated paths for vnet peering
  .ado/workflows/networkDeployment.yml
Due: .ado/workflows/networkDeployment.yml

updated rg name for storage account
  .ado/workflows/networkDeployment.yml
Due: .ado/workflows/networkDeployment.yml

updated private dns zones
  docs/reference/deploy.network.json
  infra/PrivateDns/params.privateDns001.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

added scripts for ado and purview automation
  code/runbooks/New-DataLandingZoneDevOpsSetup.ps1
  code/runbooks/New-PurviewDataSource.ps1
  code/runbooks/Update-DevOpsFork.ps1
Due: none

updated self hosted agents templates
  infra/SelfHostedAgentDevOps/deploy.devOpsAgent_old.json
  infra/SelfHostedAgentDevOps/params.devOpsAgent001_old.json
  infra/SelfHostedAgentGithub/installGitHubAgent.sh
  infra/SelfHostedAgentGithub/params.ghAgent001.json
Due: none

updated gh agent template
  infra/SelfHostedAgentGithub/deploy.ghAgent.json
Due: none

bugfix for DevOps setup script
  code/runbooks/New-DataLandingZoneDevOpsSetup.ps1
Due: none

added pr and issue templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

removed self-hosted agents for now
  infra/SelfHostedAgentDevOps/deploy.devOpsAgent.json
  infra/SelfHostedAgentDevOps/params.devOpsAgent001.json
  infra/SelfHostedAgentGithub/deploy.ghAgent.json
  infra/SelfHostedAgentGithub/installGitHubAgent.sh
Due: none

added purview functions
  code/runbooks/New-PurviewDataSource.ps1
Due: none

added purview code
  code/runbooks/New-PurviewDataSource.ps1
Due: none

removed data factory
  infra/DataFactory/deploy.dataFactory.json
  infra/DataFactory/params.dataFactory001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

removed log analytics
  infra/LogAnalytics/deploy.logAnalytics.json
  infra/LogAnalytics/params.logAnalytics001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml

removed shir
  infra/SelfHostedIntegrationRuntime/deploy.shir.json
  infra/SelfHostedIntegrationRuntime/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntime/params.shir001.json
  infra/ShareSelfHostedIntegrationRuntime/deploy.shareSelfHostedIntegrationRuntime.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime002.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: code/GeneratePassword.ps1, infra/KeyVault, infra/LogAnalytics, infra/ContainerRegistry, infra/SelfHostedIntegrationRuntime, infra/DataFactory, infra/Storage, infra/PowerBi, .ado/workflows/dataHubDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, infra/PrivateDns, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml
