Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra/ArtifactStorage, infra/ContainerRegistry, infra/DnsForwarder, infra/Firewall, infra/FirewallPolicy, infra/KeyVault, infra/PrivateDns, infra/Purview, infra/SynapsePrivateLinkHub, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataHubDeployment.yml, code/GeneratePassword.ps1
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/Firewall, infra/FirewallPolicy, infra/VirtualNetworkPeering, infra/PrivateDns, infra/DnsForwarder, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml

Update params.policyDefinition.Deny-Storage-RoutingPreference.json
  infra/Policies/Storage/params.policyDefinition.Deny-Storage-RoutingPreference.json
Due: none

Update params.policyDefinition.Deny-Storage-Kind.json
  infra/Policies/Storage/params.policyDefinition.Deny-Storage-Kind.json
Due: none

Update params.policyDefinition.Deny-Storage-NetworkAclsDefaultAction.json
  infra/Policies/Storage/params.policyDefinition.Deny-Storage-NetworkAclsDefaultAction.json
Due: none

Update dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: none

Fix Too Long Names (#55)
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
  .github/workflows/updateParameters.yml
  README.md
  configs/UpdateParameters.ps1
  infra/Firewall/deploy.firewall.json
  infra/Policies/Storage/params.policyDefinition.Deny-Storage-Kind.json
  infra/Policies/Storage/params.policyDefinition.Deny-Storage-NetworkAclsDefaultAction.json
  infra/Policies/Storage/params.policyDefinition.Deny-Storage-RoutingPreference.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

Updated Parameters
  infra/ArtifactStorage/params.storage001.json
  infra/ContainerRegistry/params.containerRegistry001.json
  infra/DnsForwarder/params.dnsForwarder001.json
  infra/Firewall/params.firewall001.json
  infra/FirewallPolicy/params.firewallPolicy001.json
  infra/KeyVault/params.keyVault001.json
  infra/PrivateDns/params.privateDns001.json
  infra/Purview/params.purview001.json
  infra/SynapsePrivateLinkHub/params.synapsePrivateLinkHub001.json
  infra/VirtualNetwork/params.vnet001.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

removed nsg rules
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

Update README.md
  README.md
Due: none

until data factory
  infra/Policies/Batch/params.policyDefinition.Deny-Batch-NetworkConfiguration.json
  infra/Policies/Cache/params.policyDefinition.Deny-Cache-Sku.json
  infra/Policies/CognitiveServices/params.policyDefinition.Deny-CognitiveServices-Sku.json
  infra/Policies/ContainerRegistry/params.policyDefinition.Audit-ContainerRegistry-PrivateEndpointId.json
  infra/Policies/ContainerRegistry/params.policyDefinition.Deny-ContainerRegistry-Sku.json
Due: none

Update params.policyDefinition.Deploy-SqlDw-AuditingSettings.json
  infra/Policies/Sql/params.policyDefinition.Deploy-SqlDw-AuditingSettings.json
Due: none

Update params.policyDefinition.Audit-Sql-PrivateEndpointId.json
  infra/Policies/Sql/params.policyDefinition.Audit-Sql-PrivateEndpointId.json
Due: none

Update params.policyDefinition.Deny-SqlManagedInstance-Sku.json
  infra/Policies/SqlManagedInstance/params.policyDefinition.Deny-SqlManagedInstance-Sku.json
Due: none

until data factory (#64)
  infra/Policies/Batch/params.policyDefinition.Deny-Batch-NetworkConfiguration.json
  infra/Policies/Cache/params.policyDefinition.Deny-Cache-Sku.json
  infra/Policies/CognitiveServices/params.policyDefinition.Deny-CognitiveServices-Sku.json
  infra/Policies/ContainerRegistry/params.policyDefinition.Audit-ContainerRegistry-PrivateEndpointId.json
  infra/Policies/ContainerRegistry/params.policyDefinition.Deny-ContainerRegistry-Sku.json
Due: none

Update Workflow
  .github/workflows/dataHubDeployment.yml
Due: none

updated last policies
  infra/Policies/Batch/params.policyDefinition.Deny-Batch-Scale.json
  infra/Policies/Batch/params.policyDefinition.Deny-Batch-VmSize.json
Due: none

Added dev container for development
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/common-debian.sh
Due: none

* added linter workflows * linting
  .github/workflows/dataHubDeployment.yml
  .github/workflows/lint.yml
  .github/workflows/updateParameters.yml
  code/GeneratePassword.ps1
Due: .ado/workflows/dataHubDeployment.yml

linting
  .ado/workflows/dataHubDeployment.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/linters/.arm-ttk.psd1
  .github/linters/.dockerfilelintrc
  .github/linters/.powershell-psscriptanalyzer.psd1
  .github/workflows/lint.yml
  code/GeneratePassword.ps1
  code/UploadBlob.ps1
  configs/UpdateParameters.ps1
  docs/reference/deploy.dataHub.json
  infra/ArtifactStorage/deploy.storage.json
  infra/ContainerRegistry/deploy.containerRegistry.json
  infra/DnsForwarder/deploy.dnsForwarder.json
  infra/Firewall/deploy.firewall.json
  infra/FirewallPolicy/deploy.firewallPolicy.json
  infra/KeyVault/deploy.keyVault.json
  infra/PrivateDns/deploy.privateDns.json
  infra/Purview/deploy.purview.json
  infra/SynapsePrivateLinkHub/deploy.synapsePrivateLinkHub.json
  infra/VirtualNetwork/deploy.vnet.json
  infra/VirtualNetworkPeering/deploy.vnetPeering.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

lint
  .ado/workflows/dataHubDeployment.yml
  .github/linters/.arm-ttk.psd1
  .github/linters/.dockerfilelintrc
  .github/linters/.markdown-lint.yml
  .github/linters/.powershell-psscriptanalyzer.psd1
  README.md
  configs/UpdateParameters.ps1
  infra/DnsForwarder/forwarderSetup.sh
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

lint
  .github/linters/.markdown-lint.yml
Due: none

linting
  infra/DnsForwarder/forwarderSetup.sh
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

linting
  .github/workflows/updateParameters.yml
  README.md
Due: none

md linting
  .github/linters/.markdown-lint.yml
Due: none

update lint workflow
  .github/workflows/lint.yml
Due: none

updated policy that is failing with purview
  infra/Policies/Storage/params.policyDefinition.Deny-Storage-Encryption.json
Due: none

Added additional parameters to Purview
  infra/Purview/deploy.purview.json
Due: .ado/workflows/dataHubDeployment.yml

removed parameter
  infra/Purview/deploy.purview.json
Due: .ado/workflows/dataHubDeployment.yml

updated EH policy for sku
  infra/Policies/EventHub/params.policyDefinition.Deny-EventHub-Sku.json
Due: none

added portal ui
  docs/reference/portal.dataHub.json
Due: none

added tags end to end
  docs/reference/deploy.dataHub.json
  docs/reference/portal.dataHub.json
  infra/ArtifactStorage/deploy.storage.json
  infra/ArtifactStorage/params.storage001.json
  infra/ContainerRegistry/deploy.containerRegistry.json
  infra/ContainerRegistry/params.containerRegistry001.json
  infra/DnsForwarder/deploy.dnsForwarder.json
  infra/DnsForwarder/params.dnsForwarder001.json
  infra/Firewall/deploy.firewall.json
  infra/Firewall/params.firewall001.json
  infra/FirewallPolicy/deploy.firewallPolicy.json
  infra/FirewallPolicy/params.firewallPolicy001.json
  infra/KeyVault/deploy.keyVault.json
  infra/KeyVault/params.keyVault001.json
  infra/PrivateDns/deploy.privateDns.json
  infra/PrivateDns/params.privateDns001.json
  infra/Purview/deploy.purview.json
  infra/Purview/params.purview001.json
  infra/SynapsePrivateLinkHub/deploy.synapsePrivateLinkHub.json
  infra/SynapsePrivateLinkHub/params.synapsePrivateLinkHub001.json
  infra/VirtualNetwork/deploy.vnet.json
  infra/VirtualNetwork/params.vnet001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

updated network section in portal exp
  docs/reference/portal.dataHub.json
Due: none

update description
  docs/reference/deploy.dataHub.json
  docs/reference/portal.dataHub_old.json
  infra/ArtifactStorage/deploy.storage.json
  infra/ContainerRegistry/deploy.containerRegistry.json
  infra/DnsForwarder/deploy.dnsForwarder.json
  infra/Firewall/deploy.firewall.json
  infra/FirewallPolicy/deploy.firewallPolicy.json
  infra/KeyVault/deploy.keyVault.json
  infra/PrivateDns/deploy.privateDns.json
  infra/Purview/deploy.purview.json
  infra/SynapsePrivateLinkHub/deploy.synapsePrivateLinkHub.json
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

Delete portal.dataHub_old.json
  docs/reference/portal.dataHub_old.json
Due: none

updated deployment of resource groups
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
  configs/config.json
  docs/reference/deploy.dataHub.json
  infra/ResourceGroups/deploy.resourceGroups.json
  infra/ResourceGroups/params.resourceGroups001.json
Due: .ado/workflows/dataHubDeployment.yml

added code checkout
  .github/workflows/dataHubDeployment.yml
Due: none

simplified central tag definition
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml
