Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra, code, .ado/workflows/dataHubDeployment.yml
  .ado/workflows/dataManagementZoneDeployment.yml: any of: infra, code, .ado/workflows/dataManagementZoneDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/Firewall, infra/FirewallPolicy, infra/VirtualNetworkPeering, infra/PrivateDns, infra/DnsForwarder, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml

Added new AML categories and updated metrics categories (#180)
  infra/Policies/PolicyDefinitions/DiagnosticSettings/params.machineLearning.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Updated Purview Portal DNS
  infra/main.bicep
  infra/main.json
  infra/modules/governance.bicep
  infra/modules/services/privatednszones.bicep
  infra/modules/services/purview.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Added new Parameter to docs and parameter files
  docs/EnterpriseScaleAnalytics-AzureDevOpsDeployment.md
  docs/EnterpriseScaleAnalytics-GitHubActionsDeployment.md
  infra/params.dev.json
  infra/params.prod.json
  infra/params.test.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Updated Purview Studio DNS Setup (#183)
  docs/EnterpriseScaleAnalytics-AzureDevOpsDeployment.md
  docs/EnterpriseScaleAnalytics-GitHubActionsDeployment.md
  infra/main.bicep
  infra/main.json
  infra/modules/governance.bicep
  infra/modules/services/privatednszones.bicep
  infra/modules/services/purview.bicep
  infra/params.dev.json
  infra/params.prod.json
  infra/params.test.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Updated DNS Forwarder Setup
  infra/modules/dnsForwarder.bicep
  infra/modules/network.bicep
  infra/modules/services/artifactstorage.bicep
  infra/modules/services/dnsforwarder.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Added What-If Controlled Rollout
  .ado/workflows/dataManagementZoneDeployment.yml
  .github/workflows/dataManagementZoneDeployment.yml
Due: .ado/workflows/dataManagementZoneDeployment.yml

updated location in ado workflow
  .ado/workflows/dataManagementZoneDeployment.yml
Due: .ado/workflows/dataManagementZoneDeployment.yml

Added What-If Controlled Rollout (#185)
  .ado/workflows/dataManagementZoneDeployment.yml
  .github/workflows/dataManagementZoneDeployment.yml
Due: .ado/workflows/dataManagementZoneDeployment.yml

Update EnterpriseScaleAnalytics-GitHubActionsDeployment.md
  docs/EnterpriseScaleAnalytics-GitHubActionsDeployment.md
Due: none

Added Self-Hosted Agent Template
  docs/reference/buildagents/main.bicep
  docs/reference/buildagents/modules/services/selfHostedAgentAzureDevOps.bicep
Due: none

Update EnterpriseScaleAnalytics-AzureDevOpsDeployment.md
  docs/EnterpriseScaleAnalytics-AzureDevOpsDeployment.md
Due: none

updated self-hosted agent template
  docs/reference/buildagents/main.bicep
  docs/reference/buildagents/modules/services/selfHostedAgentAzureDevOps.bicep
Due: none

added doc
  docs/guidance/EnterpriseScaleAnalytics-SelfHostedAgents.md
Due: none

Added Purview Core Setup
  code/SetupPurview.ps1
  docs/EnterpriseScaleAnalytics-AzureDevOpsDeployment.md
  docs/EnterpriseScaleAnalytics-GitHubActionsDeployment.md
  infra/main.bicep
  infra/main.json
  infra/modules/automation.bicep
  infra/modules/auxiliary/purviewRoleAssignmentKeyVault.bicep
  infra/modules/auxiliary/purviewSetup.bicep
  infra/modules/auxiliary/userAssignedIdentityRoleAssignmentPurview.bicep
  infra/modules/governance.bicep
  infra/modules/services/userassignedidentity.bicep
  infra/params.dev.json
  infra/params.prod.json
  infra/params.test.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Fixed bugs in setup for Purview automation
  code/SetupPurview.ps1
  infra/main.json
  infra/modules/automation.bicep
  infra/modules/auxiliary/purviewSetup.bicep
  infra/modules/auxiliary/userAssignedIdentityRoleAssignmentResourceGroup.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Added additional paremeter to all-in-one template
  docs/reference/enterpriseScaleAnalytics.bicep
  docs/reference/enterpriseScaleAnalytics.json
Due: none

added updated portal experience
  docs/reference/portal.dataManagementZone.json
Due: none

merged main
  docs/reference/enterpriseScaleAnalytics.json
Due: none

updated comments in bicep modules
  infra/modules/automation.bicep
  infra/modules/auxiliary/purviewSetup.bicep
  infra/modules/auxiliary/userAssignedIdentityRoleAssignmentResourceGroup.bicep
  infra/modules/services/userassignedidentity.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

updated portal def
  docs/reference/portal.enterpriseScaleAnalytics.json
Due: none

updated portal UI
  docs/reference/portal.enterpriseScaleAnalytics.json
Due: none

streamlined esa name
  docs/reference/portal.enterpriseScaleAnalytics.json
Due: none

* added firewall rules for ADO * added agent template
  docs/reference/buildagents/main.json
  docs/reference/buildagents/modules/services/selfHostedAgentAzureDevOps.bicep
  infra/modules/services/firewallPolicyRules.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Added Self-hosted Agent guidance
  docs/guidance/EnterpriseScaleAnalytics-SelfHostedAgents.md
  docs/reference/buildagents/main.json
  docs/reference/buildagents/modules/services/selfHostedAgentAzureDevOps.bicep
Due: none

added new arm template
  infra/main.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

updated docs
  docs/guidance/EnterpriseScaleAnalytics-SelfHostedAgents.md
  docs/images/AzureDevOpsScaleSetAgent.png
Due: none

Added docs
  docs/guidance/EnterpriseScaleAnalytics-SelfHostedAgents.md
Due: none

* updated docs * added portal * added images * updated portal def to fix typos
  docs/guidance/EnterpriseScaleAnalytics-SelfHostedAgents.md
  docs/guidance/EnterpriseScaleAnalytics-SelfHostedCiCdAgents.md
  docs/images/AzureDevOpsScaleSetAgentNodes.png
  docs/reference/buildagents/portal.json
Due: none

linting
  docs/guidance/EnterpriseScaleAnalytics-SelfHostedCiCdAgents.md
Due: none

* updated azure portal link * updated portal ui
  docs/guidance/EnterpriseScaleAnalytics-SelfHostedCiCdAgents.md
  docs/reference/buildagents/portal.json
Due: none

fix portal ui
  docs/reference/buildagents/portal.json
Due: none

Update docs/EnterpriseScaleAnalytics-AzureDevOpsDeployment.md
  docs/EnterpriseScaleAnalytics-AzureDevOpsDeployment.md
Due: none

Update docs/EnterpriseScaleAnalytics-GitHubActionsDeployment.md
  docs/EnterpriseScaleAnalytics-GitHubActionsDeployment.md
Due: none

Updated list of locations for data management zone
  docs/EnterpriseScaleAnalytics-Prerequisites.md
  docs/reference/portal.dataManagementZone.json
  docs/reference/portal.enterpriseScaleAnalytics.json
Due: none

Added Docs about adding Purview Root Collection Admins (#193)
  docs/EnterpriseScaleAnalytics-AzureDevOpsDeployment.md
  docs/EnterpriseScaleAnalytics-GitHubActionsDeployment.md
Due: none

Added Additional Purview Outputs
  infra/main.bicep
  infra/main.json
  infra/modules/governance.bicep
  infra/modules/services/purview.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Added Additional Purview Outputs (#196)
  infra/main.bicep
  infra/main.json
  infra/modules/governance.bicep
  infra/modules/services/purview.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

* removed purview bug * updated bicep version
  infra/main.json
  infra/modules/services/purview.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Added Guidance for Scalability and Self-Service
  docs/guidance/EnterpriseScaleAnalytics-SelfService.md
Due: none
