Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

.ado/workflows/dataHubDeployment.yml:
  name: Data Hub Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/logAnalyticsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/privateDnsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/selfHostedIntegrationRuntimeDeployment.yml:
  name: Self Hosted Integration Runtime Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/vnetDeployment.yml:
  name: Virtual Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

updated id in deployment workflow
  .github/workflows/networkDeployment.yml
Due: none

removed duplicate
  .github/workflows/networkDeployment.yml
Due: none

updated workflow for datahub
  .github/workflows/dataHubDeployment.yml
  .github/workflows/networkDeployment.yml
  code/GeneratePassword.ps1
Due: none

updated RG name
  .github/workflows/dataHubDeployment.yml
Due: none

fixed wrong parameter name
  infra/DataFactory/params.dataFactory001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

updated rg name
  .github/workflows/dataHubDeployment.yml
Due: none

updated parameter
  infra/SelfHostedIntegrationRuntime/params.shir001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

update password gen
  code/GeneratePassword.ps1
Due: none

added trigger
  .github/workflows/dataHubDeployment.yml
Due: none

fixed wrong variable name
  .github/workflows/dataHubDeployment.yml
Due: none

updated file upload to correct file
  .github/workflows/dataHubDeployment.yml
Due: none

updated key vault deployment
  infra/ContainerRegistry/deploy.containerRegistry.json
Due: none

updated container registry name
  infra/ContainerRegistry/params.containerRegistry001.json
Due: none

removed la workspace deployment file for gh
  .github/workflows/logAnalyticsDeployment.yml
Due: none

added general templates for deploy to azure
  docs/reference/deploy.network.json
  docs/reference/deploy.services.json
  docs/reference/deploy.shir.json
Due: none

updated baseline templeates with outputs
  .github/workflows/dataHubDeployment.yml
  infra/DataFactory/deploy.dataFactory.json
  infra/KeyVault/deploy.keyVault.json
  infra/PowerBi/params.powerBi001.json
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

update network and services template
  docs/reference/deploy.network.json
  docs/reference/deploy.services.json
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

added root data hub template
  docs/reference/deploy.dataHub.json
Due: none

added one clikc deployment
  README.md
Due: none

updated ado workflows
  .ado/workflows/dataHubDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml
  code/GeneratePipelineVariables.ps1
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml

added option to disable firewall
  docs/reference/deploy.dataHub.json
  docs/reference/deploy.network.json
Due: none

added GH workflows
  .github/workflows/dataHubDeployment.yml
  .github/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
Due: none

updated one click deployment templates
  docs/reference/deploy.dataHub.json
  docs/reference/deploy.network.json
  docs/reference/deploy.services.json
Due: none

added outputs and changed parameters names
  docs/reference/deploy.dataHub.json
  docs/reference/deploy.network.json
  infra/Firewall/deploy.firewall.json
Due: none

added synapse private dns zones
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
  infra/PrivateDns/params.privateDnsSynapse001.json
  infra/PrivateDns/params.privateDnsSynapse002.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

added synapse private dns zones
  docs/reference/deploy.network.json
Due: none

added purview to datahub
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
  infra/KeyVault/params.keyVault003.json
  infra/Purview/deploy.purview.json
  infra/Purview/params.purview.json
Due: .ado/workflows/dataHubDeployment.yml

added purview deployment
  docs/reference/deploy.services.json
  infra/Policies/DiagnosticSettingsPolicies/params.purview.json
Due: none

added synapse policies
  infra/Policies/DataPolicies/params.policyDefinition.Append-Synapse-ManagedVirtualNetwork.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-Synapse-ManagedVirtualNetworkSettings.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-SynapseSpark-AutoPause.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-SynapseSpark-AutoScale.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-SynapseSpark-ComputeIsolation.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-SynapseSpark-DefaultSparkLogFolder.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-SynapseSpark-SessionLevelPackages.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Purview.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-SynapseIntegration-vNetProperties.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-SynapseSql-Sku.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-Synapse-Firewall.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-Synapse-GrantSqlControlToManagedIdentity.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-SynapseSql-AuditingSettings.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-SynapseSql-MetadataSynch.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-SynapseSql-SecurityAlertPolicies.json
Due: none

adding policies for aml, synapse and dara factory
  infra/Policies/DataPolicies/params.policyDefinition.Append-MachineLearning-HbiWorkspace.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-MachineLearning-PublicAccessWhenBehindVnet.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-MachineLearningComputeCluster-RemoteLoginPortPublicAccess.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-MachineLearningComputeCluster-Scale.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-DataFactory-ConnectionStringType.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-MachineLearningAks.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-MachineLearningCompute-SubnetId.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-MachineLearningCompute-VmSize.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Purview.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-Synapse-Firewall.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-Synapse-GrantSqlControlToManagedIdentity.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-SynapseSql-AuditingSettings.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-SynapseSql-MetadataSynch.json
  infra/Policies/DataPolicies/params.policyDefinition.Deploy-SynapseSql-SecurityAlertPolicies.json
Due: none

added dns zone for data factory
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
  infra/PrivateDns/params.privateDnsAzure.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

added protal private endpoint for adf
  infra/DataFactory/deploy.dataFactory.json
  infra/DataFactory/params.dataFactory001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

added dns and updated adf setup
  docs/reference/deploy.network.json
  docs/reference/deploy.services.json
Due: none

updated network deployment
  .ado/workflows/networkDeployment.yml
  infra/DnsForwarder/params.dnsForwarder001.json
  infra/Firewall/params.firewall.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
  infra/VirtualNetworkPeering/params.vnetPeering002.json
Due: .ado/workflows/networkDeployment.yml

updated datahub deployment
  .ado/workflows/dataHubDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .github/workflows/dataHubDeployment.yml
  .github/workflows/networkDeployment.yml
  infra/ContainerRegistry/params.containerRegistry001.json
  infra/DataFactory/params.dataFactory001.json
  infra/Function/params.function001.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/KeyVault/params.keyVault003.json
  infra/LogAnalytics/params.logAnalytics001.json
  infra/PowerBi/params.powerBi001.json
  infra/SelfHostedIntegrationRuntime/params.shir001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime002.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

added policies
  infra/Policies/DataPolicies/params.policyDefinition.Append-DataFactory-publicNetworkAccess.json
  infra/Policies/DataPolicies/params.policyDefinition.Append-Databricks-PublicIp.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-DataFactoryIntegration-vNetProperties.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-Databricks-Sku.json
  infra/Policies/DataPolicies/params.policyDefinition.Deny-PrivateLinkServicesForPowerBI.json
Due: none

added parameter file
  infra/SelfHostedAgentDevOps/params.devOpsAgent001.json
Due: none

updated dns sub id params
  infra/PrivateDns/params.privateDnsAzure.json
  infra/PrivateDns/params.privateDnsBlob.json
  infra/PrivateDns/params.privateDnsContainerRegistry.json
  infra/PrivateDns/params.privateDnsCosmosSql.json
  infra/PrivateDns/params.privateDnsDataFactory.json
  infra/PrivateDns/params.privateDnsDfs.json
  infra/PrivateDns/params.privateDnsEventHub.json
  infra/PrivateDns/params.privateDnsFile.json
  infra/PrivateDns/params.privateDnsKeyVault.json
  infra/PrivateDns/params.privateDnsMlWorkspace.json
  infra/PrivateDns/params.privateDnsPowerBi001.json
  infra/PrivateDns/params.privateDnsPowerBi002.json
  infra/PrivateDns/params.privateDnsPowerBi003.json
  infra/PrivateDns/params.privateDnsSqlServer.json
  infra/PrivateDns/params.privateDnsSynapse001.json
  infra/PrivateDns/params.privateDnsSynapse002.json
  infra/PrivateDns/params.privateDnsWebApps.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

updated purview deployment
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
  infra/Purview/params.purview001.json
Due: .ado/workflows/dataHubDeployment.yml

change location to westeurope
  infra/Purview/params.purview001.json
Due: none

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra/KeyVault, infra/PrivateEndpoint, infra/SelfHostedIntegrationRuntime, infra/DataFactory, infra/Storage, .ado/workflows/dataHubDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, infra/PrivateDns, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml
