Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra/ArtifactStorage, infra/ContainerRegistry, infra/DnsForwarder, infra/Firewall, infra/FirewallPolicy, infra/KeyVault, infra/PrivateDns, infra/Purview, infra/SynapsePrivateLinkHub, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataHubDeployment.yml, code/GeneratePassword.ps1
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/Firewall, infra/FirewallPolicy, infra/VirtualNetworkPeering, infra/PrivateDns, infra/DnsForwarder, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml

Validation of readme (#43)
  README.md
  SECURITY.md
  docs/images/ARMConnectionDevOps.png
  docs/images/AzureCredentialsGH.png
  docs/images/AzurePipelinesGH.png
  docs/images/CodeDevOps.png
  docs/images/ConfigurePipelineDevOps.png
  docs/images/ConnectionDevOps.png
  docs/images/CreatePipelineDevOps.png
  docs/images/CreateProjectDevOps.png
  docs/images/CreateRepoGH.png
  docs/images/DataHub.png
  docs/images/InstallButtonGH.png
  docs/images/SelectRepositoryDevOps.png
  docs/images/UseThisTemplateGH.png
Due: none

updated image path
  README.md
  docs/images/deploytoazuregrey.png
Due: none

* added powerbi private link resources * updated powerbi private dns zones
  infra/PowerBi/deploy.powerBi.json
  infra/PowerBi/params.powerBi001.json
  infra/PrivateDns/params.privateDns001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

added powerbi pl resource to workflows
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

added powerbi pl resource to ref
  docs/reference/deploy.dataHub.json
Due: none

add fix to not loose access rights
  infra/KeyVault/deploy.keyVault.json
  infra/KeyVault/params.keyVault001.json
Due: .ado/workflows/dataHubDeployment.yml

updated kv template to not loose access policies
  infra/KeyVault/deploy.keyVault.json
  infra/KeyVault/params.keyVault001.json
Due: .ado/workflows/dataHubDeployment.yml

update kv name
  infra/KeyVault/params.keyVault001.json
Due: .ado/workflows/dataHubDeployment.yml

removed policy definition for key vault rbac
  infra/Policies/KeyVault/params.policyDefinition.Deny-KeyVault-RbacAuthorization.json
Due: none

added pl to purview
  configs/config.json
  docs/reference/deploy.dataHub.json
  infra/Purview/deploy.purview.json
  infra/Purview/params.purview001.json
Due: .ado/workflows/dataHubDeployment.yml

added purview private dns zone
  infra/PrivateDns/params.privateDns001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

added policy for data factory integration runtimes
  infra/FirewallPolicy/deploy.firewallPolicy.json
  infra/Policies/DataFactory/params.policyDefinition.Deny-DataFactory-IntegrationRuntimeManagedVirtualNetwork.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

Updated Parameters
  infra/ArtifactStorage/params.storage001.json
  infra/ContainerRegistry/params.containerRegistry001.json
  infra/DnsForwarder/params.dnsForwarder001.json
  infra/Firewall/params.firewall001.json
  infra/FirewallPolicy/params.firewallPolicy001.json
  infra/KeyVault/params.keyVault001.json
  infra/PrivateDns/params.privateDns001.json
  infra/Purview/params.purview001.json
  infra/SynapsePrivateLinkHub/params.synapsePrivateLinkHub001.json
  infra/VirtualNetwork/params.vnet001.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

added application rule for purview shir
  infra/FirewallPolicy/deploy.firewallPolicy.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

removed duplicate policies
  infra/Policies/Automation/params.policyDefinition.Deny-Automation-ChildResources.json
  infra/Policies/CosmosDb/params.policyDefinition.Append-Cosmos-PublicNetworkAccess.json
  infra/Policies/CosmosDb/params.policyDefinition.Deny-Cosmos-PublicNetworkAccess.json
  infra/Policies/General/params.policyDefinition.Deploy-BudgetSandbox.json
  infra/Policies/KeyVault/params.policyDefinition.Deny-KeyVault-NetworkAclsDefaultAction.json
  infra/Policies/MariaDb/params.policyDefinition.Deny-MariaDb-PublicNetworkAccess.json
  infra/Policies/NetworkSecurityGroup/params.policyDefinition.Deploy-Nsg-FlowLogs.json
  infra/Policies/PublicIp/params.policyDefinition.Deny-PublicIp.json
  infra/Policies/Sql/params.policyDefinition.Deny-Sql-PublicNetworkAccess.json
  infra/Policies/Sql/params.policyDefinition.Deploy-Sql-SecurityAlertPolicies.json
  infra/Policies/Sql/params.policyDefinition.Deploy-Sql-TransparentDataEncryption.json
  infra/Policies/Sql/params.policyDefinition.Deploy-Sql-VulnerabilityAssessment.json
  infra/Policies/Storage/params.policyDefinition.Deny-Storage-NetworkAclsDefaultAction.json
  infra/Policies/VirtualNetwork/params.policyDefinition.Deny-VirtualNetworkSubnet-NetworkSecurityGroup.json
  infra/Policies/VirtualNetwork/params.policyDefinition.Deny-VirtualNetworkSubnet-RouteTable.json
Due: none

updated policy to align with architecture
  infra/Policies/DataFactory/params.policyDefinition.Deploy-SelfHostedIntegrationRuntime-Sharing.json
Due: none

remove unnecessary policy
  infra/Policies/LogAnalytics/params.policyDefinition.Deny-LogAnalytics.json
Due: none

convert lz name to lowercase
  configs/UpdateParameters.ps1
Due: none

added tolower for input param of ref template
  docs/reference/deploy.dataHub.json
Due: none

Updated workflows
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

Fix Too Long Names
  configs/UpdateParameters.ps1
Due: none

Update deploy.firewall.json
  infra/Firewall/deploy.firewall.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

Update dataHubDeployment.yml
  .ado/workflows/dataHubDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml

Update dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
Due: none

Update README.md
  README.md
Due: none

Update updateParameters.yml
  .github/workflows/updateParameters.yml
Due: none

call attention to instructions for using the PR
  README.md
Due: none

Tiny typo
  infra/Policies/Databricks/params.policyDefinition.Deny-Databricks-VirtualNetwork.json
Due: none

Tiny typo (#58)
  infra/Policies/Databricks/params.policyDefinition.Deny-Databricks-VirtualNetwork.json
Due: none
