Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

.ado/workflows/dataHubDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/privateDnsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/selfHostedIntegrationRuntimeDeployment.yml:
  name: Self Hosted Integration Runtime Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/vnetDeployment.yml:
  name: Virtual Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

updated file name
  infra/SelfHostedIntegrationRuntime/params.vmss001.json
Due: .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

updated datahub deployment
  .github/workflows/dataHubDeployment.yml
Due: none

updated key vault name
  infra/KeyVault/params.keyVault001.json
Due: none

updated key vault reference
  infra/SelfHostedIntegrationRuntime/params.vmss001.json
  infra/Storage/params.storage001.json
Due: .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

updated vmss template
  infra/SelfHostedIntegrationRuntime/deploy.vmss.json
Due: .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

updated vnet peering setup
  infra/VirtualNetworkPeering/params.vnetPeering001.json
Due: none

added vnet peering
  .github/workflows/networkDeployment.yml
  infra/VirtualNetworkPeering/params.vnetPeering002.json
Due: none

updated workflow for network
  .github/workflows/networkDeployment.yml
Due: none

added private DNS zone
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
  infra/PrivateDns/params.privateDnsDfs.json
Due: .ado/workflows/privateDnsDeployment.yml

updates shir share deplyoment
  .github/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  infra/ShareSelfHostedIntegrationRuntime/deploy.shareSelfHostedIntegrationRuntime.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime002.json
Due: .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

share shir workflow updated
  .github/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
Due: none

updated shir sharing workflow scope
  .github/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
Due: none

updated shir sharing details
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .github/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
Due: .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

fixed reference
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime002.json
Due: .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

updated deployment conditions
  .ado/workflows/dataHubDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .github/workflows/dataHubDeployment.yml
  .github/workflows/logAnalyticsDeployment.yml
  .github/workflows/networkDeployment.yml
  .github/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

added private dns zone for web apps
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
  infra/PrivateDns/params.privateDnsWebApps.json
Due: .ado/workflows/privateDnsDeployment.yml

added subnet to vnet for azure function
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/vnetDeployment.yml

added dns forwarder and vmss parameter name
  infra/DnsForwarder/deploy.dnsForwarder.json
  infra/DnsForwarder/params.dnsForwarder001.json
  infra/Function/deploy.applicationInsights.json
  infra/Function/deploy.function.json
  infra/SelfHostedIntegrationRuntime/deploy.vmss.json
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

added gitignore
  .gitattributes
Due: none

added new proxy template
  infra/DnsForwarder/deploy.dnsForwarder.json
  infra/DnsForwarder/deploy.dnsForwarder_new.json
  infra/DnsForwarder/forwarderSetup_new.sh
  infra/DnsForwarder/params.dnsForwarder001.json
  infra/DnsForwarder/params.dnsForwarder_new001.json
Due: none

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml
