Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

.ado/workflows/dataHubDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/privateDnsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/selfHostedIntegrationRuntimeDeployment.yml:
  name: Self Hosted Integration Runtime Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/vnetDeployment.yml:
  name: Virtual Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

added variable
  infra/Storage/deploy.storage.json
Due: none

updated network deployment
  .github/workflows/networkDeployment.yml
Due: none

updated vnet deployment
  .github/workflows/logAnalyticsDeployment.yml
  .github/workflows/networkDeployment.yml
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

added ids to steps
  .github/workflows/logAnalyticsDeployment.yml
Due: none

added IDs
  .github/workflows/networkDeployment.yml
Due: none

added env variable to workflow
  .github/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
Due: none

added azure function and updated parameters + wfls
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
  infra/Function/deploy.applicationInsights.json
  infra/Function/deploy.function.json
  infra/Function/params.function001.json
  infra/KeyVault/deploy.keyVault.json
  infra/KeyVault/params.keyVault001.json
  infra/SelfHostedIntegrationRuntime/deploy.shir.json
  infra/SelfHostedIntegrationRuntime/params.shir001.json
Due: .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

reverted shir back
  infra/SelfHostedIntegrationRuntime/deploy.shir.json
Due: .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

update parameter name and disabled KV deployment
  .github/workflows/dataHubDeployment.yml
  infra/DnsForwarder/deploy.dnsForwarder_new.json
  infra/SelfHostedIntegrationRuntime/deploy.shir.json
Due: .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

updated network, added firewall, removed vm forwar
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
  infra/DnsForwarder/deploy.dnsForwarder_new.json
  infra/DnsForwarder/forwarderSetup_new.sh
  infra/DnsForwarder/params.dnsForwarder_new001.json
  infra/Firewall/deploy.firewall.json
  infra/Firewall/params.firewall.json
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

added KV deployment again
  .github/workflows/dataHubDeployment.yml
Due: none

added private dns for data factory
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
  infra/PrivateDns/params.privateDnsDataFactory.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

added adf pe and updated url's
  infra/DataFactory/deploy.dataFactory.json
  infra/DataFactory/params.dataFactory001.json
  infra/Function/deploy.function.json
  infra/KeyVault/deploy.keyVault.json
Due: .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

added codeowners
  CODEOWNERS
Due: none

updated ado triggers of workflows
  .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

update rg names
  .ado/workflows/dataHubDeployment.yml
  .ado/workflows/networkDeployment.yml
Due: .ado/workflows/networkDeployment.yml

added dns forwarder and updated workflow
  .ado/workflows/networkDeployment.yml
  .github/CODEOWNERS
  .github/workflows/networkDeployment.yml
  infra/DnsForwarder/deploy.dnsForwarder.json
  infra/DnsForwarder/forwarderSetup.sh
  infra/DnsForwarder/params.dnsForwarder001.json
Due: .ado/workflows/networkDeployment.yml

updated data deployment workflow and shir
  .ado/workflows/dataHubDeployment.yml
  .github/workflows/dataHubDeployment.yml
  infra/Function/params.function001.json
  infra/SelfHostedIntegrationRuntime/deploy.shir.json
  infra/SelfHostedIntegrationRuntime/params.shir001.json
  infra/Storage/deploy.storage.json
  infra/Storage/params.storage001.json
Due: .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml

updated triggers and subnet reference for proxy
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
  infra/DnsForwarder/params.dnsForwarder001.json
Due: .ado/workflows/networkDeployment.yml

fixed naming errros
  .ado/workflows/dataHubDeployment.yml
  infra/DnsForwarder/params.dnsForwarder001.json
Due: none

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, infra/PrivateDns, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml
