Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: code/GeneratePassword.ps1, infra/KeyVault, infra/LogAnalytics, infra/ContainerRegistry, infra/SelfHostedIntegrationRuntime, infra/DataFactory, infra/Storage, infra/PowerBi, .ado/workflows/dataHubDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, infra/PrivateDns, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml

added and updated redis cache policies
  docs/reference/deploy.network.json
  infra/Policies/Cache/params.policyDefinition.Deny-Cache-FirewallRules.json
  infra/Policies/Cache/params.policyDefinition.Deny-Cache-MinimumTlsVersion.json
  infra/Policies/Cache/params.policyDefinition.Deny-Cache-NonSslPort.json
  infra/Policies/Cache/params.policyDefinition.Deny-Cache-PublicNetworkAccess.json
  infra/Policies/Cache/params.policyDefinition.Deny-Cache-Sku.json
  infra/Policies/Cache/params.policyDefinition.Deny-Cache-VnetInjection.json
  infra/Policies/DiagnosticSettings/params.cache.json
  infra/Policies/PrivateDnsZoneGroups/params.cache.json
  infra/Policies/PrivateDnsZoneGroups/params.cacheEnterprise.json
  infra/Policies/Redis/params.policyDefinition.Deny-Redis-NonSslPort.json
Due: none

updated network deployment and cache policies
  docs/reference/deploy.network.json
  infra/Policies/Cache/params.policyDefinition.Deny-Cache-Enterprise.json
  infra/Policies/Cache/params.policyDefinition.Deny-Cache-Sku.json
Due: none

added rule for aml nodeIdleTimeBeforeScaleDown
  infra/Policies/MachineLearning/params.policyDefinition.Deny-MachineLearningComputeCluster-Scale.json
Due: none

added rule for synapse - purview connection
  infra/Policies/Synapse/params.policyDefinition.Append-Synapse-Purview.json
Due: none

added es policies
  infra/Policies/Automation/params.policyDefinition.Deny-Automation-ChildResources.json
  infra/Policies/DiagnosticSettings/params.activityLog.json
  infra/Policies/General/params.policyDefinition.Deploy-BudgetSandbox.json
  infra/Policies/VirtualNetwork/params.policyDefinition.Deny-VirtualNetworkSubnet-NetworkSecurityGroup.json
  infra/Policies/VirtualNetwork/params.policyDefinition.Deny-VirtualNetworkSubnet-RouteTable.json
Due: none

moved deployment files to the right place
  infra/PolicyAssignments/deploy.policyAssignment.json
  infra/PolicySets/deploy.policySetDefinition.json
Due: none

updated dns
  docs/reference/deploy.network.json
  infra/PrivateDns/deploy.privateDnsZones.json
  infra/PrivateDns/params.privateDnsBatchNeu.json
  infra/PrivateDns/params.privateDnsBatchWeu.json
  infra/PrivateDns/params.privateDnsCosmosCassandra.json
  infra/PrivateDns/params.privateDnsCosmosGremlin.json
  infra/PrivateDns/params.privateDnsCosmosMongo.json
  infra/PrivateDns/params.privateDnsCosmosTable.json
  infra/PrivateDns/params.privateDnsDevices.json
  infra/PrivateDns/params.privateDnsEventGrid.json
  infra/PrivateDns/params.privateDnsFilySynch.json
  infra/PrivateDns/params.privateDnsKubernetesNeu.json
  infra/PrivateDns/params.privateDnsKubernetesWeu.json
  infra/PrivateDns/params.privateDnsMachineLearning.json
  infra/PrivateDns/params.privateDnsMariaDb.json
  infra/PrivateDns/params.privateDnsMySql.json
  infra/PrivateDns/params.privateDnsPostgreSql.json
  infra/PrivateDns/params.privateDnsRedis.json
  infra/PrivateDns/params.privateDnsRedisEnterpriseNeu.json
  infra/PrivateDns/params.privateDnsRedisEnterpriseWeu.json
  infra/PrivateDns/params.privateDnsSignalR.json
  infra/PrivateDns/params.privateDnsSql.json
  infra/PrivateDns/params.privateDnsStorageBlob.json
  infra/PrivateDns/params.privateDnsStorageDfs.json
  infra/PrivateDns/params.privateDnsStorageFile.json
  infra/PrivateDns/params.privateDnsStorageQueue.json
  infra/PrivateDns/params.privateDnsStorageTable.json
  infra/PrivateDns/params.privateDnsStorageWeb.json
  infra/PrivateDns/params.privateDnsZones001.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml

updated ado workflows
  .ado/workflows/dataHubDeployment.yml
  .ado/workflows/networkDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

added container registry policy
  infra/Policies/ContainerRegistry/params.policyDefinition.Deny-ContainerRegistry-Sku.json
Due: none

fixed bugs in some policies
  infra/Policies/CognitiveServices/params.policyDefinition.Deny-CognitiveServices-UserOwnedStorage.json
  infra/Policies/VirtualNetwork/params.policyDefinition.Deny-VirtualNetworkSubnet-NetworkSecurityGroup.json
  infra/Policies/VirtualNetwork/params.policyDefinition.Deny-VirtualNetworkSubnet-RouteTable.json
Due: none

added firewall policy
  infra/FirewallPolicy/deploy.firewallPolicy.json
  infra/FirewallPolicy/params.firewallPolicy001.json
Due: none

added firewall policy to network setup
  .ado/workflows/networkDeployment.yml
  .github/workflows/networkDeployment.yml
Due: .ado/workflows/networkDeployment.yml

updated vnet
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

updated parameter file name
  .github/workflows/networkDeployment.yml
Due: none

updated firewall setup
  .github/workflows/networkDeployment.yml
  infra/Firewall/deploy.firewall.json
  infra/Firewall/params.firewall001.json
Due: none

removed unnecessary resource and updated network
  docs/reference/deploy.network.json
  infra/FirewallPolicy/deploy.firewallPolicy.json
Due: none

updated reference templates
  docs/reference/deploy.network.json
  docs/reference/deploy.services.json
Due: none

updated ref templates
  docs/reference/deploy.dataHub.json
  docs/reference/deploy.network.json
  docs/reference/deploy.services.json
Due: none

added DR SQL policies
  infra/Policies/MariaDb/params.policyDefinition.Deny-MariaDb-StorageProfile.json
  infra/Policies/MySql/params.policyDefinition.Deny-MySql-StorageProfile.json
  infra/Policies/PostgreSql/params.policyDefinition.Deny-PostgreSql-StorageProfile.json
  infra/Policies/Sql/params.policyDefinition.Deny-Sql-StorageAccountType.json
Due: none
