Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

.ado/workflows/dataHubDeployment.yml:
  name: Data Hub Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/logAnalyticsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/privateDnsDeployment.yml:
  name: Log Analytics Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/selfHostedIntegrationRuntimeDeployment.yml:
  name: Self Hosted Integration Runtime Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Share Self Hosted Integration Runtime
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/vnetDeployment.yml:
  name: Virtual Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

updated synapse pl hub name
  infra/SynapsePrivateLinkHub/params.synapsePrivateLinkHub001.json
Due: .ado/workflows/dataHubDeployment.yml

updated parameter update process
  configs/UpdateParameters.ps1
  configs/config.json
Due: none

removed automation pwsh scripts
  code/runbooks/New-DataLandingZoneAadSetup.ps1
  code/runbooks/New-DataLandingZoneDevOpsSetup.ps1
  code/runbooks/New-DataLandingZoneSubnet.ps1
  code/runbooks/New-PurviewDataSource.ps1
  code/runbooks/Update-AutomationAzureModulesForAccount.ps1
  code/runbooks/Update-DevOpsFork.ps1
Due: none

merged network and service deployment workflows
  .ado/workflows/dataHubDeployment.yml
  .ado/workflows/networkDeployment.yml
  .github/workflows/dataHubDeployment.yml
  .github/workflows/networkDeployment.yml
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml

updated config file accordingly
  configs/config.json
Due: none

updated parameter update setup
  .github/workflows/updateParameters.yml
  configs/UpdateParameters.ps1
Due: none

test update
  configs/UpdateParameters.ps1
Due: none

bugfix in renaming process
  configs/UpdateParameters.ps1
Due: none

Updated Parameters
  .ado/workflows/dataHubDeployment.yml
  infra/ArtifactStorage/params.storage001.json
  infra/ContainerRegistry/params.containerRegistry001.json
  infra/DnsForwarder/params.dnsForwarder001.json
  infra/Firewall/params.firewall001.json
  infra/FirewallPolicy/params.firewallPolicy001.json
  infra/KeyVault/params.keyVault001.json
  infra/PrivateDns/params.privateDns001.json
  infra/Purview/params.purview001.json
  infra/VirtualNetwork/params.vnet.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

updated path names
  configs/config.json
Due: none

Updated Parameters
  .ado/workflows/dataHubDeployment.yml
  infra/ArtifactStorage/params.storage001.json
  infra/ContainerRegistry/params.containerRegistry001.json
  infra/DnsForwarder/params.dnsForwarder001.json
  infra/Firewall/params.firewall001.json
  infra/FirewallPolicy/params.firewallPolicy001.json
  infra/KeyVault/params.keyVault001.json
  infra/PrivateDns/params.privateDns001.json
  infra/Purview/params.purview001.json
  infra/SynapsePrivateLinkHub/params.synapsePrivateLinkHub001.json
  infra/VirtualNetwork/params.vnet001.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/vnetDeployment.yml

another test and fix name bug
  configs/UpdateParameters.ps1
  configs/config.json
Due: none

remove depth parameter
  configs/UpdateParameters.ps1
Due: none

test output with depth
  configs/UpdateParameters.ps1
Due: none

updated purview with KV access policy assignments
  configs/config.json
  docs/reference/deploy.services.json
  infra/Purview/deploy.purview.json
  infra/Purview/params.purview001.json
Due: .ado/workflows/dataHubDeployment.yml

updated deploy to azure link and removed shir
  README.md
  docs/reference/deploy.shir.json
Due: none

updated reference in network
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/networkDeployment.yml, .ado/workflows/vnetDeployment.yml

remove special charactors for dlz name
  .github/workflows/updateParameters.yml
  configs/UpdateParameters.ps1
Due: none

updated config to keep pruview in westeurope
  configs/config.json
Due: none

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra/ContainerRegistry, infra/KeyVault, infra/Purview, infra/SynapsePrivateLinkHub, .ado/workflows/dataHubDeployment.yml, code/GeneratePassword.ps1
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/Firewall, infra/FirewallPolicy, infra/VirtualNetworkPeering, infra/PrivateDns, infra/DnsForwarder, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml
