Repository Azure/data-management-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml, .ado/workflows/logAnalyticsDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/privateDnsDeployment.yml, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml, .ado/workflows/vnetDeployment.yml

Path conditions:
  .ado/workflows/dataHubDeployment.yml: any of: infra, code, .ado/workflows/dataHubDeployment.yml
  .ado/workflows/dataManagementZoneDeployment.yml: any of: infra, code, .ado/workflows/dataManagementZoneDeployment.yml
  .ado/workflows/logAnalyticsDeployment.yml: any of: infra/LogAnalytics, .ado/workflows/logAnalyticsDeployment.yml
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/Firewall, infra/FirewallPolicy, infra/VirtualNetworkPeering, infra/PrivateDns, infra/DnsForwarder, .ado/workflows/networkDeployment.yml
  .ado/workflows/privateDnsDeployment.yml: any of: infra/PrivateDns, .ado/workflows/privateDnsDeployment.yml
  .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml: any of: infra/SelfHostedIntegrationRuntime, infra/DataFactory, .ado/workflows/selfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .ado/workflows/vnetDeployment.yml: any of: infra/VirtualNetwork, .ado/workflows/vnetDeployment.yml

Update docs/guidance/DataManagementAnalytics-ConnectToEnvironmentsPrivately.md
  docs/guidance/DataManagementAnalytics-ConnectToEnvironmentsPrivately.md
Due: none

Added guidance on enrolling to Intune for Jumpbox VM in case of corporate policy requirement (#264)
  docs/guidance/DataManagementAnalytics-ConnectToEnvironmentsPrivately.md
Due: none

Add Data Landing Zone Subs as Input
  .github/linters/.arm-ttk.psd1
  docs/reference/dataManagementAnalytics.bicep
  docs/reference/dataManagementAnalytics.json
Due: none

added option to select firewall sku
  infra/main.bicep
  infra/main.json
  infra/modules/consumption.bicep
  infra/modules/network.bicep
  infra/modules/services/firewallPolicyRules.bicep
  infra/modules/services/purview.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

updated linting rules and dependencies
  infra/modules/network.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

updated params
  docs/reference/portal.dataManagementZone.json
  infra/params.dev.json
  infra/params.prod.json
  infra/params.test.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

added firewall sku to AIO template
  docs/reference/dataManagementAnalytics.bicep
  docs/reference/dataManagementAnalytics.json
Due: none

Updated GH Issue and PR Template Links (#259)
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/DOCUMENTATION_ISSUE.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Improving Region Availability (#258)
  docs/DataManagementAnalytics-Prerequisites.md
  docs/reference/bastionhost/portal.json
  docs/reference/buildagents/portal.json
  docs/reference/portal.dataManagementAnalytics.json
  docs/reference/portal.dataManagementZone.json
  infra/main.json
  infra/modules/network.bicep
  infra/modules/services/purview.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

updated comment
  infra/modules/services/firewallPolicyRules.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Changed naming to DMLZ
  README.md
Due: none

Update DataManagementAnalytics-Prerequisites.md
  docs/DataManagementAnalytics-Prerequisites.md
Due: none

Update DataManagementAnalytics-CreateRepository.md
  docs/DataManagementAnalytics-CreateRepository.md
Due: none

Update DataManagementAnalytics-ServicePrincipal.md
  docs/DataManagementAnalytics-ServicePrincipal.md
Due: none

Update DataManagementAnalytics-GitHubActionsDeployment.md
  docs/DataManagementAnalytics-GitHubActionsDeployment.md
Due: none

Update DataManagementAnalytics-KnownIssues.md
  docs/DataManagementAnalytics-KnownIssues.md
Due: none

Update DataManagementAnalytics-AzureDevOpsDeployment.md
  docs/DataManagementAnalytics-AzureDevOpsDeployment.md
Due: none

fix bug when choosing standard firewall
  infra/modules/network.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Updated Diagnostic Settings Policies for Synapse
  infra/Policies/PolicyDefinitions/DiagnosticSettings/params.synapseSparkPool.json
  infra/Policies/PolicyDefinitions/DiagnosticSettings/params.synapseSqlPool.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

added policy for synapse diagnostic settngs
  infra/Policies/PolicyDefinitions/DiagnosticSettings/params.synapse.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Add Data Landing Zone Subs as Input (#267)
  .github/linters/.arm-ttk.psd1
  docs/reference/dataManagementAnalytics.bicep
  docs/reference/dataManagementAnalytics.json
Due: none

Rename Data Management Zone (#269)
  README.md
  docs/DataManagementAnalytics-AzureDevOpsDeployment.md
  docs/DataManagementAnalytics-CreateRepository.md
  docs/DataManagementAnalytics-GitHubActionsDeployment.md
  docs/DataManagementAnalytics-KnownIssues.md
  docs/DataManagementAnalytics-Prerequisites.md
  docs/DataManagementAnalytics-ServicePrincipal.md
Due: none

added new arm template
  infra/main.json
  infra/modules/network.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

New Network Capabilities (#219)
  docs/DataManagementAnalytics-AzureDevOpsDeployment.md
  docs/DataManagementAnalytics-GitHubActionsDeployment.md
  docs/reference/dataManagementAnalytics.bicep
  docs/reference/dataManagementAnalytics.json
  docs/reference/portal.dataManagementZone.json
  infra/main.bicep
  infra/main.json
  infra/modules/consumption.bicep
  infra/modules/network.bicep
  infra/modules/services/firewallPolicyRules.bicep
  infra/modules/services/purview.bicep
  infra/params.dev.json
  infra/params.prod.json
  infra/params.test.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Fix Portal UI Bug
  docs/reference/bastionhost/portal.json
  docs/reference/buildagents/portal.json
  docs/reference/portal.dataManagementAnalytics.json
Due: none

updated ui
  docs/reference/bastionhost/portal.json
  docs/reference/buildagents/portal.json
  docs/reference/portal.dataManagementAnalytics.json
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix Portal UI Bug (#272)
  docs/reference/bastionhost/portal.json
  docs/reference/buildagents/portal.json
  docs/reference/portal.dataManagementAnalytics.json
Due: none

Update CONTRIBUTING.md (#273)
  CONTRIBUTING.md
Due: none

Fixing Availability Zones Bug
  infra/modules/network.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

updated arm
  infra/main.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

fixed region issue for synapse pl hub
  infra/modules/services/synapseprivatelinkhub.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Fixing Availability Zones Bug & Synapse PL Hub Bug (#276)
  infra/main.json
  infra/modules/network.bicep
  infra/modules/services/synapseprivatelinkhub.bicep
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Updated Diagnostic Settings Policies for Synapse (#271)
  infra/Policies/PolicyDefinitions/DiagnosticSettings/params.synapse.json
  infra/Policies/PolicyDefinitions/DiagnosticSettings/params.synapseSparkPool.json
Due: .ado/workflows/dataHubDeployment.yml, .ado/workflows/dataManagementZoneDeployment.yml

Updated Workflows
  .ado/workflows/dataManagementZoneDeployment.yml
  .github/workflows/dataManagementZoneDeployment.yml
Due: .ado/workflows/dataManagementZoneDeployment.yml

removed parameter ref
  .github/workflows/dataManagementZoneDeployment.yml
Due: none
